<div class="card" *ngIf="fields && points && element">
  <span class="card__label">{{ fields[element.name].label }}</span>
  <span class="card__value"
    >{{
      points[element.name]
        | datum : fields[element.name].format : fields[element.name].digitsInfo
    }}
  </span>
</div>
