.card {
  display: flex;
  flex-flow: column nowrap;

  &__label {
    color: #31383f;
    font-feature-settings: "clig" off, "liga" off;
    font-family: Helvetica Neue;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 1.25rem 0 0.5rem;
  }

  &__value {
    color: #231190;
    font-feature-settings: "clig" off, "liga" off;
    font-family: Helvetica Neue;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}
