<div class="data-grid" *ngIf="gridData && fields && element">
  <h1 class="data-grid__label">
    {{ label }}
  </h1>
  <div class="data-grid__container">
    <table>
      <thead>
        <tr>
          <th *ngFor="let field of element.fields">
            {{ fields[field.name].label }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of gridData.data">
          <td
            *ngFor="let field of element.fields"
            [attr.data-type]="fields[field.name].type"
          >
            {{
              data[field.name]
                | datum
                  : fields[field.name].format
                  : fields[field.name].digitsInfo
            }}
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <th
            *ngFor="let field of element.fields; index as footerIndex"
            [attr.data-type]="fields[field.name].type"
          >
            {{
              field.name
                | datum
                  : fields[field.name].format
                  : fields[field.name].digitsInfo
                  : {
                      method: fields[field.name].aggFn,
                      data: gridData.data,
                      footerIndex,
                      field: field.name
                    }
            }}
          </th>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
