@use "../../mixins.scss" as *;

.data-grid {
  &__label {
    color: #31383f;
    font-size: 1.125rem;
    font-weight: 400;
  }

  &__container {
    overflow-x: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
    -ms-overflow-style: none;
    scrollbar-width: none;

    table {
      border-collapse: collapse;
      width: 100%;

      th {
        color: #31383f;
        font-family: Helvetica Neue;
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }

      td,
      th {
        padding: 0.75rem;

        &[data-type="string"] {
          text-align: left;
        }

        &[data-type="double"] {
          text-align: right;
        }
      }

      thead {
        th {
          border-bottom: 1px solid #31383f;
          color: #231190;
          font-size: 0.75rem;
          font-weight: 700;
          text-align: left;
        }
      }

      tbody {
        tr:nth-child(odd) {
          background: #f6f6f6;
        }

        td {
          font-size: 0.875rem;
        }
      }

      tfoot {
        th {
          border-top: 1px solid #31383f;

          &:first-child {
            text-align: left;
          }
        }
      }
    }
  }
}
