.navbar {
  background: #231190;
  display: flex;
  flex-flow: row nowrap;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  justify-content: space-between;
  line-height: normal;
}

.logo {
  color: #fff;
  padding: 0.75rem 1rem;
}

.top-menu {
  align-items: center;
  border-bottom: 2px solid #ea6c30;
  display: flex;
  flex-flow: row nowrap;
  font-size: 0.875rem;
  justify-content: space-between;
  padding-left: 1.5rem;
  padding-right: 0.75rem;

  &:hover {
    cursor: pointer;
  }

  &__icon {
    padding-right: 0.625rem;
  }

  &__label {
    color: #fff;
    padding-right: 1.75rem;
  }
}
