<div class="navbar" role="banner">
  <span class="logo">{{ title }}</span>
  <div class="top-menu">
    <svg
      class="top-menu__icon"
      xmlns="http://www.w3.org/2000/svg"
      width="18"
      height="18"
      viewBox="0 0 18 18"
      fill="none"
    >
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M1 0C0.447715 0 0 0.447715 0 1V3C0 3.55228 0.447715 4 1 4H3C3.55228 4 4 3.55228 4 3V1C4 0.447715 3.55228 0 3 0H1ZM1 7C0.447715 7 0 7.44772 0 8V10C0 10.5523 0.447715 11 1 11H3C3.55228 11 4 10.5523 4 10V8C4 7.44772 3.55228 7 3 7H1ZM0 15C0 14.4477 0.447715 14 1 14H3C3.55228 14 4 14.4477 4 15V17C4 17.5523 3.55228 18 3 18H1C0.447715 18 0 17.5523 0 17V15ZM15 0C14.4477 0 14 0.447715 14 1V3C14 3.55228 14.4477 4 15 4H17C17.5523 4 18 3.55228 18 3V1C18 0.447715 17.5523 0 17 0H15ZM14 8C14 7.44772 14.4477 7 15 7H17C17.5523 7 18 7.44772 18 8V10C18 10.5523 17.5523 11 17 11H15C14.4477 11 14 10.5523 14 10V8ZM8 0C7.44772 0 7 0.447715 7 1V3C7 3.55228 7.44772 4 8 4H10C10.5523 4 11 3.55228 11 3V1C11 0.447715 10.5523 0 10 0H8ZM7 8C7 7.44772 7.44772 7 8 7H10C10.5523 7 11 7.44772 11 8V10C11 10.5523 10.5523 11 10 11H8C7.44772 11 7 10.5523 7 10V8ZM8 14C7.44772 14 7 14.4477 7 15V17C7 17.5523 7.44772 18 8 18H10C10.5523 18 11 17.5523 11 17V15C11 14.4477 10.5523 14 10 14H8Z"
        fill="white"
      />
    </svg>
    <span class="top-menu__label">Reports</span>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="9"
      height="7"
      viewBox="0 0 9 7"
      fill="none"
    >
      <path d="M4.5 7L0.602887 0.249999L8.39711 0.25L4.5 7Z" fill="#CDCDCD" />
    </svg>
  </div>
</div>
