<app-navbar [title]="title"></app-navbar>
<div class="dashboard" role="main">
  <div class="layout">
    <section
      class="layout__section"
      *ngFor="let section of layout"
      [attr.data-width]="section.width"
      [attr.data-section-type]="
        section.type === 'DATA_POINT' ? 'Metrics Overview' : 'Data Grid'
      "
    >
      <ng-container [ngSwitch]="section.type">
        <ng-container *ngSwitchCase="'DATA_POINT'">
          <h1 class="layout__section-heading">{{ section.label }}</h1>
          <div class="layout__section-elements">
            <app-card
              class="layout__section-component"
              *ngFor="let element of section.elements"
              [element]="element"
              [fields]="fields"
              [points]="points"
            ></app-card>
          </div>
        </ng-container>
        <ng-container *ngSwitchCase="'DATA_SET'">
          <div class="layout__section-elements">
            <app-data-grid
              class="layout__section-component"
              *ngFor="let element of section.elements; index as dataIndex"
              [element]="element"
              [dataSets]="dataSets"
              [fields]="fields"
              [label]="section.label"
            ></app-data-grid>
          </div>
        </ng-container>
      </ng-container>
    </section>
  </div>
</div>

<router-outlet></router-outlet>
