@use "../mixins" as *;

.dashboard {
  @include container-x();
  @include container-y();
}

.layout {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 1.25rem;

  &__section {
    display: flex;
    flex-flow: column nowrap;
    margin-bottom: 3.75rem;

    &[data-width="2"] {
      grid-column: span 2;
    }

    &[data-width="4"] {
      grid-column: span 4;
    }

    &[data-width="6"] {
      grid-column: span 6;
    }

    &[data-width="8"] {
      grid-column: span 8;
    }

    &[data-width="10"] {
      grid-column: span 10;
    }

    &[data-width="12"] {
      grid-column: span 12;
    }

    &-heading {
      border-bottom: 1px solid #d3d6da;
      color: #31383f;
      font-feature-settings: "clig" off, "liga" off;
      font-family: Helvetica Neue;
      font-size: 1rem;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      margin: 0;
      padding: 0 0 0.5rem;
    }

    &-elements {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
    }

    &-component {
      width: 100%;
    }
  }
}
