@use "./variables" as *;

@mixin xs {
  @media (min-width: #{$xs}) {
    @content;
  }
}

@mixin sm {
  @media (min-width: #{$sm}) {
    @content;
  }
}

@mixin md {
  @media (min-width: #{$md}) {
    @content;
  }
}

@mixin lg {
  @media (min-width: #{$lg}) {
    @content;
  }
}

@mixin xl {
  @media (min-width: #{$xl}) {
    @content;
  }
}

@mixin container-x() {
  display: flex;
  flex-flow: column nowrap;
  flex-grow: 1;
  padding: 0 1rem;

  @include md {
    justify-content: center;
    padding: 0 8rem;
  }
}

@mixin container-y() {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

  @include md {
    padding-top: 1.5rem;
    padding-bottom: 2rem;
  }
}
